<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>webProfile-7.0</feature>
        <feature>ejbRemote-3.2</feature>
        <feature>jms-2.0</feature>
        <feature>jaxws-2.2</feature>
        <feature>concurrent-1.0</feature>
        <feature>jndi-1.0</feature>
        <feature>ssl-1.0</feature>
        <feature>jwt-1.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>adminCenter-1.0</feature>
        <feature>websocket-1.1</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />
                  
    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>
    
    <!-- Default key store -->
    <keyStore id="defaultKeyStore" 
              password="store-pass"
              location="${server.config.dir}/resources/security/keys.jks" />
    
    <!-- Default trust store -->
    <keyStore id="defaultTrustStore" 
              password="store-pass"
              location="${server.config.dir}/resources/security/keys.jks" />
              
    <!-- Desktop key store -->
    <keyStore id="desktopKeyStore" 
              password="store-pass"
              location="${server.config.dir}/resources/security/desktopKeys.jks" />
    
    <!-- Desktop trust store -->
    <keyStore id="desktopTrustStore" 
              password="store-pass"
              location="${server.config.dir}/resources/security/desktopKeys.jks" />
         
    <jwtBuilder id="desktopJwtBuilder" 
                issuer="http://desktop.bcbssc.com/"
                keyStoreRef="desktopKeyStore"
                keyAlias="desktopKey" />
    
    <jwtConsumer id="desktopJwtConsumer"
                 signatureAlgorithm="RS256"
                 issuer="http://desktop.bcbssc.com/"
                 trustStoreRef="desktopTrustStore"
                 trustedAlias="desktopKey" />

    <basicRegistry id="basic" realm="BasicRealm">
        <user name="wasadmin" password="wasadmin" />
    </basicRegistry>
    
   <administrator-role>
      <user>wasadmin</user>
   </administrator-role>
    
    <logging traceSpecification="*=info:com.bcbssc.desktop.*=finest:com.bcbssc.wsutils.*=finest" />

    <!-- Enable CORS -->
    <cors domain="/"
          allowedOrigins="*"
          allowedMethods="GET,DELETE,POST,OPTIONS"
          allowedHeaders="*"
          allowCredentials="true"
          maxAge="3600"/>

    <!-- Executor Defintions -->
    <contextService id="mainContext">
        <classloaderContext/>
        <securityContext/>
    </contextService>
    <managedExecutorService jndiName="concurrent/executor" contextServiceRef="mainContext"/>
    <managedScheduledExecutorService jndiName="concurrent/scheduledExecutor" contextServiceRef="mainContext"/>

    <!-- Database Defintions -->
    <jdbcDriver id="DB2_Universal_JDBC_Driver_Provider" javax.sql.DataSource="com.ibm.db2.jcc.DB2ConnectionPoolDataSource">
        <library>
            <file name="${server.config.dir}/resources/db2/db2jcc.jar"/>
            <file name="${server.config.dir}/resources/db2/db2jcc_license_cisuz.jar"/>
        </library>
    </jdbcDriver>
    <dataSource jdbcDriverRef="DB2_Universal_JDBC_Driver_Provider" jndiName="datasource/default" transactional="false">
        <jdbcDriver libraryRef="db2lib"/>
        <properties.db2.jcc driverType="4" databaseName="A70DB2V" serverName="db2v.bcbssc.com" portNumber="33720" user="SVC0113" password="{xor}CnsaawwJHGw="/>
    </dataSource>
    <dataSource jdbcDriverRef="DB2_Universal_JDBC_Driver_Provider" jndiName="datasource/rules" transactional="false">
        <jdbcDriver libraryRef="db2lib"/>
        <properties.db2.jcc driverType="4" databaseName="A70DB2V" serverName="db2v.bcbssc.com" portNumber="33720" user="SVC0113" password="{xor}CnsaawwJHGw="/>
    </dataSource>
    <dataSource jdbcDriverRef="DB2_Universal_JDBC_Driver_Provider" jndiName="datasource/mbr" transactional="false">
        <jdbcDriver libraryRef="db2lib"/>
        <properties.db2.jcc driverType="4" databaseName="A70DB2V" serverName="db2v.bcbssc.com" portNumber="33720" user="SVC0114" password="{xor}CnsaawwJHGs="/>
    </dataSource>
    <dataSource jdbcDriverRef="DB2_Universal_JDBC_Driver_Provider" jndiName="datasource/mcs" transactional="false">
        <jdbcDriver libraryRef="db2lib"/>
        <properties.db2.jcc driverType="4" databaseName="A70DB2V" serverName="db2v.bcbssc.com" portNumber="33720" user="SVC0115" password="{xor}CnsaawwJHGo="/>
    </dataSource>

    <!-- JNDI Entries -->
    <!-- NOTE: If you have a value that is numeric, but should be treated like a string, then wrap it with single
               quotes. When you look it up, use JndiUtils.lookupNumericString and it will remove the single quotes. -->
    <jndiEntry id="baseConsumerId" jndiName="service/consumerId/base" value="DPBASDT"/>
    <jndiEntry id="baseConsumerPassword" jndiName="service/consumerPassword/base" value="DP$BAS1"/>
    <jndiEntry id="csrConsumerId" jndiName="service/consumerId/csr" value="DPCSRDT"/>
    <jndiEntry id="csrConsumerPassword" jndiName="service/consumerPassword/csr" value="U$MPOW7W"/>
    <jndiEntry id="mcsConsumerId" jndiName="service/consumerId/mcs" value="DPMCSDT"/>
    <jndiEntry id="mcsConsumerPassword" jndiName="service/consumerPassword/mcs" value="BPF6$IGD"/>
    <jndiEntry id="mbrConsumerId" jndiName="service/consumerId/mbr" value="DPMBRDT"/>
    <jndiEntry id="mbrConsumerPassword" jndiName="service/consumerPassword/mbr" value="YAX$K2AM"/>
    <jndiEntry id="avalonConsumerId" jndiName="service/consumerId/avl" value="DPAVLDT"/>
    <jndiEntry id="avalonConsumerPassword" jndiName="service/consumerPassword/avl" value="Adti$Ndt"/>
    <jndiEntry id="defaultDatatype" jndiName="datatype/default" value="CSRDKTP1"/>
    <jndiEntry id="staticRacfId" jndiName="staticRacfId" value="WEB4CSR"/>
    <jndiEntry id="staticRacfPassword" jndiName="staticRacfPassword" value="WEB$CSR1"/>
    <jndiEntry id="defaultRpn" jndiName="rpn/default" value="'001'"/>
    <jndiEntry id="validRacfExpression" jndiName="validRacfExpression" value="[a-zA-Z0-9]{1,8}"/>
    <!-- Environment Based JNDI Entries -->
    <jndiEntry id="baseEndpoint" jndiName="service/baseEndpoint" value="http://system.commercial.services.bcbssc.com"/>
    <jndiEntry id="defaultRegion" jndiName="region/default" value="DVOST1"/>
    <jndiEntry id="altRpnQualifier" jndiName="dbconn/qualifier/altRpn" value="AMMSS"/>
    <jndiEntry id="tmcsQualifier" jndiName="dbconn/qualifier/tmcs" value="PRIVS"/>
    <jndiEntry id="rulesQualifier" jndiName="dbconn/qualifier/rule" value="PRIVS"/>
    <jndiEntry id="defaultQualifier" jndiName="dbconn/qualifier/default" value="PRIVS"/>

</server>
